body{
	background: #dcdcdc;
	font-family: 'Amatic SC', cursive;
}

.bmv{
	background: #C0C0C0;
	padding-top: 15px;
}

.xsw{
	padding-top: 15px;
	padding-bottom: 15px;
}

.audi{
	padding-bottom: 15px ;
}

.margin-center{
	margin: auto;
}

/* Стили заявки */


.main-form{
	padding-top: 25px;
}

.main-form__email{
	width: 600px;
}

.main-form__text{
	width: 600px;
}