/* Спецификации */

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: black;
}

body{
	background: #fff; 
	font-family: 'Amatic SC', cursive;
}

.margin-center{
	margin: auto;
}

thead{
	background: #2673a3;
	color: #fff;
}

.bg-blue{
    background: #2673a3;
    color: #fff;
}

/* header */

.title{
	padding-top: 8px;
	padding-bottom: 15px;
	margin: auto;
}

.title-text{
	text-align: center;
}

.title-icon{
	height: 80px;
	width: 80px;
}

.title-tel{
	padding-left: 10px;
	color: brown;
}

.modal-title{
    color: #000;
}

/*------------------*/

/* Главная */

.main-img{
	background: url(../img/main.jpg) round no-repeat;
	background-size: cover;
	min-height: 560px !important;
	opacity: 0.5;
}

.main-text{
	opacity: 1.5;
	color: #fff;

}

/* ----------------- */

/* О нас */

.about{
	padding-top: 40px;
	padding-bottom: 40px;
}

/*------------------*/

/* Услуги */

.yslugi__img{
	height: 180px;
	width: auto;
}

.bmv{
	background: #000;
	padding-top: 15px;
	color: #fff;
}

.bmv a{
	color: #fff;
}

.xsw{
	padding-top: 15px;
	padding-bottom: 15px;
}

.audi{
	padding-bottom: 15px ;
}


.margin-center{
	margin: auto;
}


/* ----------- */

/* Отзывы */

.comm{
	background: #2673a3;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.comm__title{
	padding-bottom: 15px;
}

/*------------------*/


/* Стили заявки */


.main-form__text{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 750px;
	margin: auto;
}

/* Контакты */

.contacts{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;

}

.contacts__text{
	padding-top: 20px;
	padding-bottom: 20px;
}

.contacts__right{
	margin-right: 40px;
	
}
.color{
	color: #FFF;
}

/* ------------ */

/* Футер */

footer{
	background: linear-gradient(45deg, #000, #3A424F);
	height: 300px;
}

/* ----------- */

/* Изменения некоторых классов */

.title-bar{
	background: #2673A3;
	color: white;
}

/* -------------- */

/* Адаптация */



/* --------------- */