/* Спецификации */

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: black;
}

body{
	background: azure; 
	font-family: 'Amatic SC', cursive;
}

.margin-center{
	margin: auto;
}

/* header */

.title{
	padding-top: 8px;
	padding-bottom: 15px;
	margin: auto;
}

.title-text{
	text-align: center;
}

.title-icon{
	height: 80px;
	width: 80px;
}

.title-tel{
	padding-left: 10px;
	color: brown;
}
thead{
	background: #2673a3;
}

/*------------------*/

/* Главная */

.main-img{
	background: url(../img/main.jpg) round no-repeat;
	background-size: cover;
	min-height: 560px !important;
	opacity: 0.5;
}

.main-text{
	opacity: 1;
	color: #fff;

}

/* ----------------- */

/* О нас */

.about{
	padding-top: 40px;
	padding-bottom: 40px;
}

/*------------------*/

/* Услуги */

.yslugi__img{
	height: 180px;
	width: auto;
}

.bmv{
	background: #000;
	padding-top: 15px;
	color: #fff;
}

.bmv a{
	color: #fff;
}

.xsw{
	padding-top: 15px;
	padding-bottom: 15px;
}

.audi{
	padding-bottom: 15px ;
}


.margin-center{
	margin: auto;
}


/* ----------- */

/* Отзывы */

.comm{
	background: #a0ced9;
	padding-top: 25px;
	padding-bottom: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.comm__title{
	padding-bottom: 15px;
}

/*------------------*/


/* Стили заявки */


.main-form{
	padding-top: 25px;
	text-align: center;
}

.main-form__btn{
	color: #fff;
	font-size: 20px;
	background: #2673a3;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 300px;
	padding-left: 300px;
	cursor: pointer;
}

.main-form__btn a {
	color: azure;
}

.main-form__btn:hover{
	background: #264da3;
	color: azure;
}

.main-form__text{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 750px;
	margin: auto;
}

/* Контакты */

.contacts{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;

}

.contacts__text{
	padding-top: 20px;
	padding-bottom: 20px;
}

.contacts__right{
	margin-right: 40px;
	
}

/* ------------ */

/* Футер */

footer{
	background: linear-gradient(45deg, #000, #3A424F);
	height: 100px;
}

/* ----------- */